.ipynb_checkpoints/Question-checkpoint
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/harvard-cite-them-right-checkpoint.csl
.ipynb_checkpoints/bio-checkpoint.bib
.ipynb_checkpoints/Readings-checkpoint.bib
/.ipynb_checkpoints
.DS_Store
